body {
}

/*#cover {
    height: 800px;
}

#cover {
    background: url('../tema/bg.png') no-repeat center center fixed;
    background-size: cover;
}

.fixed-top {
    max-width: 1200px;
    margin: 10px auto;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #fff !important;
    transition: color 0.5s ease;
}

.nav-link:hover{
    color:#fed136 !important;

}*/