<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <!--<connectionStrings>
    <add name="blogSitemDBConnectionString" connectionString="Data Source=SERHATHALİL;Initial Catalog=blogSitemDB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    
  </system.web>
  <!--<appSettings>
    <add key="FacebookConsumerKey" value="1973690122902801"/>
    <add key="FacebookConsumerSecret" value="3ae4f12e3a047815dd9adbffd28159cb"/>

    <add key="TwitterConsumerKey" value="ThObV3kXsliLHmtteyasQ5DkK"/>
    <add key="TwitterConsumerSecret" value="JWKNudttVzpDmX1SH7oZEvQjJqMPFBFhRMEJGg17yPcTKbcbd5"/>
  </appSettings>-->
 

</configuration>
